# This is the default configuration file for the Kattis CLI.
# Use TOML format https://toml.io/en/
# Just copy the default section and modify the values according the language

title = "Kattis-cli language configuration file for local testing."

[default.language]
compiler = "python3"
compiler_flags = ""
file_extensions = ["py", "py3"]
mainclass = "<problemid>.py"

[Python 3]
compiler = "python3"
compiler_flags = ""
file_extensions = ["py", "py3"]
mainclass = "<problemid>.py"
